.div_main {
  width: 100%;
  height: 4rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;

  background: #ffffff;
  box-shadow: -10px -10px 7px #f2f2f2, 10px 10px 7px #ffffff;
  z-index: 2;
}
